@font-face {
    font-family: 'Bold';
    font-style: normal;
    font-weight: bold;
    src: url('font/IRANSans-Bold-web.eot'),
        url('font/IRANSansWeb(FaNum)_Bold.woff2') format('woff2'),
        url('font/IRANSansWeb(FaNum)_Bold.woff') format('woff'),
        url('font/IRANSansWeb(FaNum)_Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'iransans';
    font-style: normal;
    font-weight: normal;
    src: url('font/IRANSansWeb(FaNum)_Light.eot'),
        url('font/IRANSansWeb(FaNum)_Light.woff2') format('woff2'),
        url('font/IRANSans-web.woff') format('woff'),
        url('font/IRANSans-Light-web.ttf') format('truetype');
}

* {
    font-family: 'iransans';
    direction: rtl;
    font-size: 14px;
}


.login-container {
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 0;
    margin: 0;
}

.right-part {
    flex: 1;
    background: url(image/background) no-repeat center;
    background-size: cover;
    height: 100%;
    box-shadow: 0 0 0 1px rgba(136, 152, 170, .1), 0 15px 35px 0 rgba(49, 49, 93, .1), 0 5px 15px 0 rgba(0, 0, 0, .13);


}

.left-part {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    display: grid;
    justify-items: center;
    grid-template-rows: repeat(3, 1fr);
    gap: 62px;
    align-content: stretch;
    justify-content: space-between;
    align-items: end;
}

.left-part .img-logo {
    margin-bottom: 30px;
    display: block;
    max-width: 100%;
    height: auto;
}

.left-part .form-group {
    margin-bottom: 15px;
}

.left-part .sign-forget {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.left-part .form-container {
    text-align: right;
}

.left-part .form-container .form-control {
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(49, 49, 93, .03), 0 2px 5px 0 rgba(49, 49, 93, .1), 0 1px 2px 0 rgba(0, 0, 0, .08);
}

.remember-check {
    display: flex;
    align-items: center;
}

.form-container .remember-check .remember-checkbax {
    margin-left: 5px;
    margin-bottom: 0.5rem;
}

.form-container .sign-forget .btn-primary {
    background-color: #2aabd2;
    border-color: transparent;
}

.form-container .sign-forget .btn-primary:hover {
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}

.form-container .sign-forget .btn-primary:focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}

.btn:hover,
.btn:focus {
    color: #333;
    text-decoration: none;
    box-shadow: none;

}

.guess-btn {
    display: block;
    width: 100%;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}

.guess-btn:hover {
    color: #333;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn {
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    font-weight: 500;
    border-radius: 4px;
    box-shadow: 0 0 0 1px rgba(50, 50, 93, .1), 0 2px 5px 0 rgba(50, 50, 93, .08), 0 1px 1.5px 0 rgba(0, 0, 0, .07), 0 1px 2px 0 rgba(0, 0, 0, .08), 0 0 0 0 transparent;
    display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;

}

.footer-text {
    display: flex;
    align-items: baseline;
}

select#language-select {
    border: 0;
    background: #fff;
}

/* user group */



.navbar {
    background-color: #080000;
}

.default-nav {
    border: 0;
}

.navbar {
    background-color: #24292e;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

ul.left-ul,
ul.right-ul {
    list-style: none;
    display: inline-flex;
    padding-right: 0;
    margin-bottom: 0;
    align-items: baseline;

}

.left-ul .left-li {
    margin: 0 10px;
}

.left-ul .left-li a {
    color: #888888;
}

.left-ul .left-li .nav-logo {
    font-size: 19px;
    font-weight: bold;
}

.left-ul>li {
    font-weight: 500;
}

.left-ul>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.right-ul .right-li {
    margin: 0 10px;
}

.right-ul .right-li a {
    color: #888888;
}

.right-ul>li {
    font-weight: 500;
}

.right-ul>li>a {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.default-nav .nav-ul>.active>a,
.default-nav .nav-ul>.active>a:hover,
.default-nav .nav-ul>.active>a:focus {
    color: #2ab2dc;
    background: 0;
}

.default-nav .nav-ul>.active>a,
.default-nav .nav-ul>.active>a:hover,
.default-nav .nav-ul>.active>a:focus {
    color: #555;
    background-color: #e7e7e7;
}

.default-nav .nav-ul>li>a:hover,
.default-nav .nav-ul>li>a:focus {
    color: #333;
    background-color: transparent;
}

.default-nav .nav-ul>li>a {
    color: #777;
}

.nav>li>a:hover,
.nav>li>a:focus {
    text-decoration: none;
}


.sidebar {
    flex: 15%;
    text-align: right;
}

.all-side {
    border: 1px solid #eee;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
    background: 0;
    border-radius: 4px;
}

.side {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    /* background-color: #f5f5f5; */
}

.main-page {
    display: flex;
    align-items: baseline;
    width: 100%;
}

.main-page-right {
    flex: 5;
    text-align: right;
    margin-right: 15px;
}

.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}

.input-group-btn {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
}

.all-side table {
    margin-bottom: 0;
}

.page-header {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;

}

.pointer {
    cursor: pointer;
}

.sidebar .row {
    margin: 0;
    padding: 0;
    display: table;
    text-align: right;
}

.table {
    width: 100%;
    max-width: 100%;
    /* margin-bottom: 20px; */
}

.well-3d-background {
    position: absolute;
    top: 170px;
    right: 185px;
    z-index: -1;
    opacity: .03;
}

.well-3d-background .fas {
    font-size: 15vw;
}

.footer {
    border-top: 1px #e1e4e8 solid;
    padding: 20px;
    display: flex;
    align-items: baseline;
    justify-content: center;
    gap: 12px;
}
h1 small, .h1 small, h2 small, .h2 small, h3 small, .h3 small, h1 .small, .h1 .small, h2 .small, .h2 .small, h3 .small, .h3 .small {
    font-size: 65%;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
    font-weight: 300;
    line-height: 1;
    color: #a3aab1;
}
.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
}
.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #337ab7 !important;
    transition: width .6s ease;
}
.sr-only {
    border: 0;
    clip: rect(0,0,0,0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
ul > li >a , .author , .author-doc{
    color: #337ab7;
    text-decoration: none;
}
.author,.author-doc {
    margin-left: 10px;
}

a , select{
    color: #337ab7;
    text-decoration: none;
}
.settings-menu .panel-default {
    border: 1px solid #eee;
    box-shadow: 0 7px 14px 0 rgba(50,50,93,.1), 0 3px 6px 0 rgba(0,0,0,.07);
    border-radius: 4px;
}
.panel-default {
    border-color: #ddd;
}
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.settings-menu .panel-default>.panel-heading {
    border-bottom: 0;
    background: #f9f9f9;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.settings-menu .panel-default>.panel-heading strong {
    font-weight: 500;
}
.panel>.list-group, .panel>.panel-collapse>.list-group {
    margin-bottom: 0;
    padding-right: 0;
}
ul.list-group {
    padding-left: 0;
    margin-bottom: 20px;
}
.panel-heading+.list-group .list-group-item:first-child {
    border-top-width: 0;
}
.settings-menu .panel-default .list-group-item {
    border: 0;
}
.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
}
.list-group-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.list-group-item {
    position: relative;
    display: block;
    padding: 10px 15px;
    margin-bottom: -1px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.settings-content {
    margin-bottom: 10px;
}
.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}
.table>caption+thead>tr:first-child>th, .table>colgroup+thead>tr:first-child>th, .table>thead:first-child>tr:first-child>th, .table>caption+thead>tr:first-child>td, .table>colgroup+thead>tr:first-child>td, .table>thead:first-child>tr:first-child>td {
    border-top: 0;
}
.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid #ddd;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.table>thead>tr>td.info, .table>tbody>tr>td.info, .table>tfoot>tr>td.info, .table>thead>tr>th.info, .table>tbody>tr>th.info, .table>tfoot>tr>th.info, .table>thead>tr.info>td, .table>tbody>tr.info>td, .table>tfoot>tr.info>td, .table>thead>tr.info>th, .table>tbody>tr.info>th, .table>tfoot>tr.info>th {
    background-color: #d9edf7;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}

.table-hover>tbody>tr>td.warning:hover, .table-hover>tbody>tr>th.warning:hover, .table-hover>tbody>tr.warning:hover>td, .table-hover>tbody>tr:hover>.warning, .table-hover>tbody>tr.warning:hover>th {
    background-color: #faf2cc;
}
.table>thead>tr>td.warning, .table>tbody>tr>td.warning, .table>tfoot>tr>td.warning, .table>thead>tr>th.warning, .table>tbody>tr>th.warning, .table>tfoot>tr>th.warning, .table>thead>tr.warning>td, .table>tbody>tr.warning>td, .table>tfoot>tr.warning>td, .table>thead>tr.warning>th, .table>tbody>tr.warning>th, .table>tfoot>tr.warning>th {
    background-color: #fcf8e3;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 8px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
.settings-menu .panel-default .list-group-item.active {
    background: 0;
    color: #337ab7;
    font-weight: 500;
}
.settings-menu .panel-default .list-group-item {
    border: 0;
}
.panel>.list-group .list-group-item, .panel>.panel-collapse>.list-group .list-group-item {
    border-width: 1px 0;
}
.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
    z-index: 2;
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}
a.list-group-item, button.list-group-item {
    color: #555;
}
.btn-warning:hover {
    color: #fff !important;
    background-color: #ec971f;
    border-color: #d58512;
}
.btn-warning {
    color: #fff !important;
    background-color: #f0ad4e;
    border-color: #eea236;
}